<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <div th:fragment="menu_contents">
    <div class="page-header">
      <h2>投稿一覧</h2>
    </div>
    <div th:if=${postsCount}>
      <span th:text="'投稿件数：'+ ${postsCount} + '件'"></span>
    </div>
    <ul th:if=${postsCount} th:each="page : ${pagesList}" th:object="${pagesList}">
    	<li th:text="${page}" style="display:inline"></li>
    </ul>
    <table class="table table-bordered table-hover table-striped">
    	<tr>
    		<th class="info col-sm-1">ユーザー名</th>
    		<th class="info col-sm-1">投稿日</th>
    		<th class="info col-sm-3">投稿内容</th>
    	</tr>
    	<tr th:each="post, iStat :${postPage.content}">
    		<td th:text="${post.user_id}"></td>
    		<td th:text="${#dates.format(#calendars.createForTimeZone(#calendars.year(post.post_date), #calendars.month(post.post_date), #calendars.day(post.post_date), #calendars.hour(post.post_date), #calendars.minute(post.post_date),'UTC'), 'yyyy-MMM-dd HH:mm')}"></td>
    		<td th:text="${post.post_text}"></td>
    	</tr>
    </table>
    <div th:if="${postPage.totalPages > 0}" class="pagination" th:each="pageNumber : ${pageNumbers}">
      <a th:href="@{/searchResult(size=${postPage.size}, page=${pageNumber})}" th:text=${pageNumber} th:class="${pageNumber==postPage.number + 1} ? active">
      </a>
	</div>
  </div>
</body>
</html>