<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <div th:fragment="menu_contents">
    <div class="page-header">
      <h2>マイページ</h2>
    </div>
      <p class="text-info" th:text="${queryResult}"></p>
      <div th:if=${postsCount}>
       <p th:text="'投稿件数：'+ ${postsCount} + '件'"></p>
       <p><a class="btn btn-primary btn-xs" th:href="@{/userMyPage/csv}">全件CSV出力</a></p>
      </div>
	    <table class="table table-bordered table-hover table-striped">
	    	<tr>
	    		<th class="info col-sm-1">ユーザー名</th>
	    		<th class="info col-sm-1">投稿日</th>
	    		<th class="info col-sm-3">投稿内容</th>
	    		<th class="info col-sm-1"></th>
	    	</tr>
		    	<tr th:each="post, iStat :${postPage.content}" 
		    	  th:style="${iStat.odd}? 'font-weight: bold;'"
		    	   th:alt-title="${iStat.even}? 'even' : 'odd'">
		    		<td th:text="${post.user_id}"></td>
		    		<td th:text="${#dates.format(post.post_date,'YYYY/MM/dd HH:mm:ss')}"></td>
		    		<td th:text="${post.post_text}"></td>
		    		<td><button class="btn btn-danger btn-xs center-block sm-btn-del" th:onclick="'window.location.href = \'' + @{/userMyPage/delete/{id}(id=${post.post_id})} + '\''" type="button" >削除</button></td>
		    	</tr>
	    </table>
	    <div th:if="${postPage.totalPages > 0}" class="pagination" th:each="pageNumber : ${pageNumbers}">
      		<a th:href="@{/userMyPage(size=${postPage.size}, page=${pageNumber})}" th:text=${pageNumber} th:class="${pageNumber==postPage.number + 1} ? active">
      		</a>
	</div>
  </div>
</body>
</html>